#!/usr/bin/env bash

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias cdp="cd ~/Projects"
alias cdgo="cd ~/Projects/go/src/github.com/jobseekerltd/"

alias ga="git add ."

alias g="./gradlew --daemon"
alias gp="./gradlew --daemon --parallel"
